/* Estilo del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #523e3e;
}

/* Estilo del encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Estilo del contenido principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

article h2 {
    color: #333;
}
article img {
    max-width: 100%; /* Aseguramos que la imagen se ajuste al ancho del artículo */
    height: auto; /* Mantenemos la proporción de la imagen */
    display: block; /* Centramos la imagen horizontalmente */
    margin: 0 auto; /* Centramos la imagen horizontalmente */
    margin-bottom: 10px; /* Agregamos un espacio entre la imagen y el texto */
}


article a {
    text-decoration: none;
    color: #0074D9;
}

/* Estilo de la barra lateral */
aside {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside h2 {
    color: #333;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin-bottom: 10px;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Estilo para enlaces */
a {
    color: #0074D9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
