body{
    margin: 0; 
    padding: 0px;
    font-size: 13px;
    font-family: 'Arial', sans-serif;
}
header{
    height: 60px;
    width: 100%;
    padding: 10px;
}
header nav{
    background-color: #7cd049;
    border: 5px solid #00a795;
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav-right-section a{
    margin-right: 10px;
    color: #000000;
}

a {
    text-decoration: none;
    cursor: pointer;
}
main {
    margin-top:75px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 300px;
}

main .main-logo img {
    width: 280px;
}