body{
    background-image: url(images/5549789.gif);
    background-attachment: fixed;
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Arial', sans-serif;   
}

.miniaturas{
    border: 4px solid #fefefe;
    width: 600px;
    text-align: center;
}
.autores {
    margin: 0 0 1rem;
    padding: 1rem;
    border: 3px solid #ffe170;
    border-radius: 0;
    position: relative;
    background-color: #00a795;
}
p, h1, h3{
    color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
a{
    color:black;
    text-decoration: none;
}

#contentmenu{
    background-color: #008bf3;
    border: 5px solid #00a795;
}


.color1 {color: #008bf3;}
.color2 {color: #00a795;}
.color3 {color: #7cd049;}
.color4 {color: #ffe170;}
.color5 {color: #ffd9e4;}
